/* Default style is in style.css */
/*
     FILE ARCHIVED ON 04:43:31 Feb 25, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:05:50 Jan 04, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  PetaboxLoader3.datanode: 174.784 (4)
  exclusion.robots.policy: 0.21
  RedisCDXSource: 3.18
  PetaboxLoader3.resolve: 21.38
  exclusion.robots: 0.227
  captures_list: 245.037
  load_resource: 87.94
  LoadShardBlock: 215.388 (3)
  CDXLines.iter: 22.412 (3)
  esindex: 0.016
*/